:host {
  display: block;
  position: relative;
}
:host([disabled]) {
  pointer-events: none;
}
#selectList {
  display: block;
  min-width: 11em;
}
:host([multiple]) #selectList {
  /*height: 36px;*/
  /*line-height: 36px;*/
  /*margin-top: -1px;*/
  /*margin-bottom: -1px;*/
}
#selectList > select-input-item {
  display: block;
  position: relative;
  box-sizing: border-box;
  vertical-align: middle;
  height: 34px;
  line-height: 34px;
  border-radius: 17px;
  padding-left: 12px;
  padding-right: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: #E7E7E7;
  color: #757575;
  cursor: default;
}
:host([multiple]) #selectList > select-input-item {
  display: inline-block;
  padding-right: 14px;
  margin-right: 4px;
  height: 32px;
  line-height: 32px;
  margin-bottom: 1px;
  margin-top: 1px;
}
#selectList > select-input-item > a {
  display: block;
  position: absolute;
  top: 50%;
  right: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #666;
  text-decoration: none;
  cursor: pointer;
}
:host([multiple]) #selectList > select-input-item > a {
  right: 4px;
  width: 6px;
  height: 6px;
}
#selectList > select-input-item > a:hover {
  background-color: #d34336;
}
#selectList > * {
  width: auto;
}
#placeholder-container {
  display: inline-block;
  position: relative;
  background: transparent;
  z-index: 0;
}
#placeholder {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  padding: 0;
  z-index: -1;
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
}
#selectInput {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  height: 34px;
  line-height: 34px;
  min-width: 1em;
  margin-right: 24px;
  background: transparent;
  outline-style: none !important;
}
#clearButton {
  display: inline-block;
  position: absolute;
  bottom: 9px;
  right: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #666;
  text-decoration: none;
  cursor: pointer;
}
paper-dropdown {
  position: absolute;
  left: 4px;
  right: 4px;
  margin-top: 8px;
  top: 100%;
  z-index: 1;
}
paper-dropdown /deep/ #scroller {
  width: auto !important;
  height: auto !important;
  max-height: auto !important;
}
core-menu {
  margin: 0;
}
::content .empty-action {
  /*  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;*/
}
::content paper-progress {
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  width: auto;
  height: 2px;
  z-index: 1
}
